{% extends "app/layout.twig" %}

{% block content %}
<header>
    <h1>SuisuiChat</h1>
</header>
<section id="content">
    <section id="chat">
        <div id="messages"></div>
        <div id="chatui">
            <div>
                <span class="title">Name</span><br>
                <input type="text" id="name">
            </div>
            <div>
                <span class="title">Message:</span><br>
                <textarea id="message"></textarea>
            </div>
            <div class="buttons">
                <input type="button" id="send_btn" value="Send">
            </div>
        </div>
    </section>
    <section id="categories">
        <h2>Categories</h2>
        <div class="clearfix">
            {% for category in categories %}
                <div class="category">
                    <p>{{category.name}}</p>
                    <ul class="category_sub">
                        {% for category_sub in category.categories_sub %}
                            <li>{{category_sub.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
</section>
<footer>
    SuisuiChat @ 2017 Suisui. All Rights Reserved.
</footer>
{% endblock %}
