{% extends "app/layout.twig" %}

{% block content %}
    <h1>SuisuiChat</h1>
    
    {% if users is not null %}
        <h2>Hello {{users.email}}!</h2>
    {% else %}
        <p>Try <a href="http://www.slimframework.com">SlimFramework</a>
    {% endif %}
    
    <div id="messages"></div>
    <div id="chatui">
        <span class="title">Name:</span><input type="text" id="name">&nbsp;
        <span class="title">Message:</span><input type="text" id="text">
        <input type="button" id="send_btn" value="Send">
    </div>
    
    <div id="submenu">
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li>
                    <p>{{category.name}}</p>
                    <ul>
                        {% for category_sub in category.categories_sub %}
                            <li>{{category_sub.name}}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
